.icon-in-dashboard .ant-space-item{
    background-color: red !important;
}

.custom-dashboard .ant-space-item>span.anticon{
    background-color: greenyellow;
    padding: 10px;
    border-radius: 12px;
}